<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--data-target属性控制显示隐藏关联-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-res-area">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">在线商店</a>
    </div>
    <div class="collapse navbar-collapse nav-res-area">
      <ul class="nav navbar-nav ">
        <li class="active">
          <a href="#">关于我们</a>
        </li>
        <li>
          <a href="#">联系我们</a>
        </li>
      </ul>
    </div>
  </div>
</nav>