<form name="searchForm" action="" method="POST" role="form">
  <legend>站内搜索</legend>
  <div class="form-group">
    <label for="">商品名称</label>
    <input type="text" class="form-control" id="productTitle" placeholder="商品名称">
  </div>
  <div class="form-group">
    <label for="productPrice">商品价格</label>
    <input type="number" class="form-control" id="productPrice" placeholder="商品价格">
  </div>
  <div class="form-group">
    <label for="productCategory">商品类别</label>
    <select id="productCategory"  class="form-control">
      <option value="">--请选择--</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">搜索</button>
</form>